table {
    /* Make the borders touch each other */
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 4px 6px;
}
/* :nth-child selects only the elements matching the equation */
tr:nth-child(2n) {
    background-color: lightgrey;
}
col:nth-child(2n + 1) {
    background-color: red;
}

nav {
    background-color: lightblue;
    margin: -10px -10px 0;
    padding: 8px;
    text-align: end;
}
nav a {
    display: inline-block;
    margin: 2px;
    padding: 8px 12px;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 2px;
    transition-property: background-color, transform;
    transition-duration: 300ms;
}
nav a:hover {
    background-color:lavender;
    transform: translateY(-3px);
}

.message {
    background-color: pink;
}

img[alt=profile] {
    border-radius: 50%;
    aspect-ratio: 1 / 1;  /* Makes width and height the same */
    object-fit: cover;    /* Crops instead of squashing */
}
