<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>User Management</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <nav>
            {% if session["logged_in"] %}
                You are logged in!
            {% else %}
                You are not logged in.
                <a href="/login">Login</a>
                <a href="/signup">Sign Up!</a>
            {% endif %}
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
