<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>User Management</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <nav>
            {% if session["logged_in"] %}
                Welcome, {{ session["first_name"] }}!
                <a href="/logout">Log out</a>
            {% else %}
                You are not logged in.
                <a href="/login">Login</a>
                <a href="/signup">Sign Up!</a>
            {% endif %}
        </nav>
        {% for message in get_flashed_messages() %}
            <p class="message">{{ message }}</p>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </body>
</html>
