{% extends "_layout.html" %}

{% block content %}
<h1>Hello World!</h1>
<a href="/login">Login</a>
<a href="/signup">Sign Up!</a>

<table>
    <colgroup><col><col><col></colgroup>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
{% for row in result %}
    <tr>
        <td>{{ row["first_name"] }}</td>
        <td>{{ row["last_name"] }}</td>
        <td> <a href="mailto:{{ row['email'] }}">{{ row['email'] }}</a> </td>
        <td>
            <a href="/update?id={{ row['id'] }}">Edit</a>
            <a href="/delete?id={{ row['id'] }}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
