{% extends "_layout.html" %}

{% block content %}
<h1>Hello World!</h1>

<table>
    <colgroup><col><col><col></colgroup>
    <tr>
        <th>Role</th>
        <th>Picture</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
{% for row in result %}
    <tr>
        <td>
            {% if row['role'] == 'admin' %}
                Admin
                {% if session['role'] == 'admin' and session['id'] != row['id'] %}
                    <a href="/admin?id={{ row['id'] }}&role=user">toggle</a>
                {% endif %}
            {% else %}
                User
                {% if session['role'] == 'admin' %}
                    <a href="/admin?id={{ row['id'] }}&role=admin">toggle</a>
                {% endif %}
            {% endif %}
        </td>
        <td><img src="{{ row['image'] }}" alt="profile" height="32"></td>
        <td>{{ row["first_name"] }}</td>
        <td>{{ row["last_name"] }}</td>
        <td> <a href="mailto:{{ row['email'] }}">{{ row['email'] }}</a> </td>
        <td>
            <a href="/view?id={{ row['id'] }}">View</a>
            <a href="/update?id={{ row['id'] }}">Edit</a>
            <a href="/delete?id={{ row['id'] }}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
