{% extends "_layout.html" %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    <label>First Name</label>
    <input name="first_name">
    <br>
    <label>Last Name</label>
    <input name="last_name">
    <br>
    <label>Email</label>
    <input id="email" name="email" type="email">
    <p id="message"></p>
    <label>Password</label>
    <input name="password" type="password">
    <br>
    <label>Date of Birth</label>
    <input name="birthday" type="date">
    <br>
    <label>Profile Picture</label>
    <input type="file" name="image">
    <br>
    <button type="submit">Sign Up</button>
</form>

<script>
let input = document.querySelector('#email');
let message = document.querySelector('#message');

input.addEventListener('input', checkUniqueEmail);

async function checkUniqueEmail() {
    let response = await fetch('checkemail?email=' + input.value);
    let json = await response.json();
    if (json.exists) {
        message.style.color = 'red';
        message.textContent = 'That email already exists.';
    } else if (input.validationMessage) {
        message.style.color = 'orange';
        message.textContent = input.validationMessage;
    } else if (input.value) {
        message.style.color = 'green';
        message.textContent = 'That email is available!';
    } else {
        message.textContent = '';
    }
}
</script>

{% endblock %}
